/*页头*/

#header_nav .index11 {
    display: inline-block;
    background: #93d56f;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    z-index: 11;
    color: #fff;
}

#header_nav i {
    cursor: pointer;
    width: 30px;
    height: 25px;
}


/*正文*/

#bundle {
    width: 100%;
    height: 594px;
    padding: 20px 0px 30px;
    background: #f2f2f2;
}

#text p {
    color: #a6a6a6;
}

#text p a {
    color: #a6a6a6;
    font-size: 16px;
}

#text .black {
    color: #343434;
}

#text .url {
    font-size: 16px;
    color: #8f8f8f;
    margin-bottom: 10px;
}

#text .url span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#text .present {
    background: #fff;
    width: 340px;
    height: 480px;
    padding: 15px 20px 15px 25px;
}

#text .present_right {
    background: #fff;
    width: 815px;
    height: 482px;
    padding-top: 28px;
}

#text .present_right p {
    padding-left: 20px;

}

#text .width790 {
    width: 790px;
}


/*#text .present_right table{
	border-collapse: collapse;
	width: 64px;
	height: 42px;
	text-align: center;
	margin-left: 20px;
	margin-top: 60px;
	margin-bottom: 25px;
	float: left;
}
#text .present_right table td{
	border: 1px solid #ccc;
	cursor: pointer;
	
}*/

#text .pos_r {
    position: relative;
    width: 61px;
    margin: 60px 0px 30px 20px;
}

#text input {
    border: 1px solid #ccc;
}

#text .text {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

#text .button {
    width: 20px;
    height: 21px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#text .button_- {
    top: 21px;
}

#text .append {
    float: left;
    width: 190px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    background: #ff6700;
    color: #fff;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 50px;
}

#text .back_gray {
    background: #f5f5f5;
}

#text .present_right .pack {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#text .present_right .pack_css {
    border: 2px solid #ff6700;
    position: relative;
    
}

#text .hide {
    display: none;
}

#text i {
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #ff6700;
    position: absolute;
    right: 0px;
    bottom: 0px;
}


/*人气单品*/

#human .top {
    width: 100%;
    border-bottom: 5px solid #ff6700;
}

#human .title {
    font-size: 24px;
    color: #fff;
    background: #ff6700;
    width: 220px;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
}
i{
    color:#fff;
}
#human .human_bottom div {
    width: 210px;
    float: left;
    box-sizing: border-box;
    padding: 5px 0px;
    margin-right: 37px;
    margin-bottom: 50px;
}

#human .human_bottom .right0 {
    margin-right: 0px;
}

#human .human_bottom div:hover {
    background: #f2f2f2;
}

#human .human_bottom .width150 {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    display: block;
}

#human .humans_bottom p {
    margin-left: 10px;
}


/*评论*/


/*看了又看*/

#look {
    width: 315px;
    border: 1px solid #ccc;
}

#look div {
    width: 210px;
    margin: 0px auto;
    padding: 30px;
    border-bottom: 1px solid #ccc;
}

#look .title {
    background: #f4f4f4;
    height: 42px;
    line-height: 42px;
    padding: 0px 10px;
    box-sizing: border-box;
}


/*评论区*/

#discuss {
    width: 855px;
    margin-left: 10px;
}

#discuss .assess {
    border-bottom: 5px solid #ff6700;
    margin-bottom: 20px;
}

#discuss .assess p {
    font-size: 24px;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    padding: 0px 10px;
    margin-right: 10px;
}


/*鼠标移入 assess 样式*/

#discuss .assess .p_css {
    color: #fff;
    background: #ff6700;
}

#discuss .high_opinion {
    text-align: right;
    float: left;
    width: 110px;
}

#discuss .big{
	font-size: 50px;
	color: #ff6700;
}

#discuss .data_count {
	overflow: hidden;
    padding: 45px 0px 45px 35px;
    color: #bebebe;
}

#discuss .discuss_num {
    overflow: hidden;
    background: #f5f5f5;
}

#discuss .discuss_num p {
    padding: 0px 20px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
}

#discuss .discuss_num p span {
    font-size: 18px;
}

#discuss .discuss_bottom p {
    margin: 10px;
}

#discuss .discuss_bottom textarea {
    width: 853px;
    height: 100px;
}

#discuss .discuss_bottom button {
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    background: #302bf3;
    color: #fff;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
}

#discuss .discuss_bottom button:hover {
    border: 1px solid #f31717;
}


#discuss .present_div{
    width: 750px;
    margin: 0px auto;
    background: #f9dab9;
    padding: 25px 55px 0px;
    box-sizing: border-box;
    position: relative;
}

.div_left{
    position: relative;
}
.div_left p{
    float: left;
}
.div_left .chinese{
    font-size: 100px;
    margin: 0px 50px 80px 10px;
}
.div_left .english{
    font-size: 45px;  
    color: #c74e2c; 
    margin-top: 40px;
    transform-origin:0px;
    transform:rotate(90deg);
}
.blob{
    font-size: 24px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 22px;
    top:602px;
}
.blob span{
    font-size: 33px;
    display: block;
}
.div_right{
    text-align: center;
    position: absolute;
    right: 55px;
    top: 90px;
}
.div_right p{
    font-size: 30px;
    margin-bottom: 40px;
}
.div_right p span{
    font-weight: bold;
    font-size: 30px;
}
.div_right img{
    width: 380px;
    height: 540px;
}


.media{
    font-weight: bold;
    font-size: 24px;
    color: #d17c5a;
    text-align: right;
    margin-top: 425px;
}
.author{
    width: 610px;
    height: 550px;
    padding: 15px;
    background: #fde7cd;
    margin:0px auto;
    margin-bottom: 85px;
    position: relative;
}
.author img{
    width: 610px;
    height: 410px;
    margin-bottom: 20px;
}
.author p{
    position: absolute;
    top: 100px;
    left:-55px;
    color: #fff;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #c54d28;
    font-size: 36px;
}
.brief{
    overflow: hidden;
    margin-bottom: 130px;
}
.brief_right{
    text-align: right;
    color:#4f4f52;
    line-height:1.5; 
}
.lonely{
    width: 100%;
    padding: 0px 0px 95px 0px;
    border-bottom: 2px solid #c24a31;
}
.rump_img{
    padding: 50px 0px 130px 0px;
    text-align: center;
}

.works_abs{
    line-height: 2;
    font-size: 20px;
    width: 740px;
     margin: 0px auto;
         padding: 40px 0px 50px 0px;
}
/*广告*/

.ad img{
    height: 90px;
    width: 100%;
    margin-top: 20px;
    display: block;
}

/*页尾*/

#rump .rump_top{
    background: #f2f2f2;
    border-top: 5px solid #ff6700;
    text-align: center;
    height: 94px;
    /*line-height: 95px;*/
}
#rump .rump_top img{
    margin:21px 47px;
}
#rump .rump_center{
    overflow: hidden;
    padding:35px 0px 35px 300px;
}
#rump .rump_center img{
    float: left;
    margin: 30px 0px 0px 30px;
}
#rump .rump_center dl{
    float: left;
    width: 155px;
    text-align: center;

}
#rump .rump_center dd{
    color: #000;
        font-weight: bold;
    font-size: 16px;
}
#rump .rump_center dt{
    color: #5d5d5d;
    font-size: 14px;
    margin-top: 10px;
}

#rump .rump_bottom p{
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}




/*画布*/

#canvas{
    position: absolute;
    left: 0px;
    top:450px;
}